<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--设置别名-->
    <typeAliases>
        <!--name: 实体类所在的别名-->
        <package name="com.test.domain"/>
    </typeAliases>

    <mappers>
        <!--name是包名，这个包中所有的mapper.xml一次都能加载-->
        <package name="com.test.dao"/>
    </mappers>
</configuration>